.header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: white;
}

.header select,
.header input,
.header button {
    margin-right: 10px;
}

.header .icons {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header .icons span {
    margin-right: 15px;
}

.header .cart {
    color: red;
}
